# TF-IDF

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts = [
    "filme bom", "n達o gostei do filme", "n達o recomendo nunca", 
    "eu gostei muito", "muito ruim"
]
# usando o TfidfVectorizer
tfidf = TfidfVectorizer(min_df=1, max_df=1, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

        bom   do  do filme  ...  recomendo  recomendo nunca      ruim
0  0.707107  0.0       0.0  ...        0.0              0.0  0.000000
1  0.000000  0.5       0.5  ...        0.0              0.0  0.000000
2  0.000000  0.0       0.0  ...        0.5              0.5  0.000000
3  0.000000  0.0       0.0  ...        0.0              0.0  0.000000
4  0.000000  0.0       0.0  ...        0.0              0.0  0.707107

[5 rows x 15 columns]